/* .item-card {
    width: 60%;
    height: auto;
    padding: 2rem;
    margin-top: 2rem;
} */

.item-card-container { 
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   flex-direction: row;
   margin-top: 4rem;
   margin-bottom: 4rem;
}